In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keyss import g_key

In [2]:
#loading csv file from weatherpy

load_file = ("../output_files/weather_py_dict.csv")

vacation_cities = pd.read_csv(load_file)
vacation_cities.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.0153,27.9116,20.93,80,100,2.95,ZA,1665256055
1,Arraial do Cabo,-22.9661,-42.0278,23.92,73,75,5.14,BR,1665255947
2,Zhaotong,27.3167,103.7167,7.61,96,100,2.52,CN,1665256056
3,Mossamedes,-15.1961,12.1522,20.94,87,100,2.18,AO,1665256056
4,Qaanaaq,77.4840,-69.3632,-13.20,66,98,4.73,GL,1665256057
5,Bethel,41.3712,-73.4140,15.50,55,40,4.63,US,1665255956
6,Puerto Ayora,-0.7393,-90.3518,19.75,89,87,4.92,EC,1665255772
7,Amalāpuram,16.5833,82.0167,24.33,94,97,1.73,IN,1665256058
8,Kaitangata,-46.2817,169.8464,5.67,81,86,2.63,NZ,1665256058
9,Tuktoyaktuk,69.4541,-133.0374,2.07,74,10,3.59,CA,1665256059
10,Albany,42.6001,-73.9662,12.44,53,1,2.24,US,1665255893
11,Tarakan,3.3000,117.6333,27.07,81,100,2.68,ID,1665256059
12,Geraldton,-28.7667,114.6000,8.23,87,26,2.06,AU,1665256060
13,Vila Velha,-20.3297,-40.2925,24.97,83,40,5.66,BR,1665255820
14,Rikitea,-23.1203,-134.9692,21.41,69,17,9.00,PF,1665255900
15,Stonewall,50.1344,-97.3268,17.04,39,100,3.19,CA,1665256061
16,Lábrea,-7.2586,-64.7981,37.22,29,86,2.08,BR,1665256061
17,Guerrero Negro,27.9769,-114.0611,25.92,60,3,4.66,MX,1665255790
18,Busselton,-33.6500,115.3333,12.12,82,16,2.16,AU,1665256062
19,Dikson,73.5069,80.5464,0.14,85,100,3.28,RU,1665256062

In [3]:
vacation_cities.count()

City          544
Lat           544
Lng           544
Max Temp      544
Humidity      544
Cloudiness    544
Wind Speed    544
Country       541
Date          544
dtype: int64

In [4]:
city_null = vacation_cities['Humidity'].isna().sum()
city_null

0

Humidity Heatmap

In [5]:
# Configure gmaps
gmaps.configure(api_key = g_key)

In [6]:
max_humidiity = vacation_cities["Humidity"].max()
max_humidiity
humidity_rate = vacation_cities["Humidity"].astype(float)

In [7]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Config option `kernel_spec_manager_class` not recognized by `EnableNBExtensionApp`.
Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [8]:
# Use the Lat and Lng as locations and Humidity as the weight
locations = vacation_cities[["Lat", "Lng"]]

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights = humidity_rate,
                                 dissipating=False, max_intensity = max_humidiity,
                                 point_radius = 3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#converting temps to farenheit

vacation_cities['Max Temp'] = vacation_cities.apply(lambda x: (9/5)*x['Max Temp']+32,axis=1)
vacation_cities.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,East London,-33.0153,27.9116,69.674,80,100,2.95,ZA,1665256055
1,Arraial do Cabo,-22.9661,-42.0278,75.056,73,75,5.14,BR,1665255947
2,Zhaotong,27.3167,103.7167,45.698,96,100,2.52,CN,1665256056
3,Mossamedes,-15.1961,12.1522,69.692,87,100,2.18,AO,1665256056
4,Qaanaaq,77.4840,-69.3632,8.240,66,98,4.73,GL,1665256057
5,Bethel,41.3712,-73.4140,59.900,55,40,4.63,US,1665255956
6,Puerto Ayora,-0.7393,-90.3518,67.550,89,87,4.92,EC,1665255772
7,Amalāpuram,16.5833,82.0167,75.794,94,97,1.73,IN,1665256058
8,Kaitangata,-46.2817,169.8464,42.206,81,86,2.63,NZ,1665256058
9,Tuktoyaktuk,69.4541,-133.0374,35.726,74,10,3.59,CA,1665256059
10,Albany,42.6001,-73.9662,54.392,53,1,2.24,US,1665255893
11,Tarakan,3.3000,117.6333,80.726,81,100,2.68,ID,1665256059
12,Geraldton,-28.7667,114.6000,46.814,87,26,2.06,AU,1665256060
13,Vila Velha,-20.3297,-40.2925,76.946,83,40,5.66,BR,1665255820
14,Rikitea,-23.1203,-134.9692,70.538,69,17,9.00,PF,1665255900
15,Stonewall,50.1344,-97.3268,62.672,39,100,3.19,CA,1665256061
16,Lábrea,-7.2586,-64.7981,98.996,29,86,2.08,BR,1665256061
17,Guerrero Negro,27.9769,-114.0611,78.656,60,3,4.66,MX,1665255790
18,Busselton,-33.6500,115.3333,53.816,82,16,2.16,AU,1665256062
19,Dikson,73.5069,80.5464,32.252,85,100,3.28,RU,1665256062

In [28]:
# Narrow down: A max temperature lower than 80 degrees but higher than 70, Wind speed less than 10 mph, Zero cloudiness

vacation_cities_n = vacation_cities[(vacation_cities["Max Temp"] < 80) &
                                   (vacation_cities["Max Temp"] > 65) &
                                   (vacation_cities["Wind Speed"] < 10) &
                                    (vacation_cities["Cloudiness"] == 0)]
len(vacation_cities_n)

33

In [30]:
# Perform API calls
# Plot the hotels on top of the humidity heatmap, with each pin containing the Hotel Name, City, and Country,
# set up lists to hold reponse info

hotel_df = pd.DataFrame(vacation_cities_n, columns = ["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
len(hotel_df)

33

In [31]:
# set up lists to hold reponse info
name, city, country, lat, long = [], [], [], [], []

#data record count
record_count = 1

print("""Beginning Data Retrieval
---------------------------------""")

for i in range(len(vacation_cities_n)):
    
    latitude = str(vacation_cities_n.iloc[i,1])
    longitiude = str(vacation_cities_n.iloc[i,2])
    
    target_cooridnates = (f"{latitude},{longitiude}")
    target_search = 'Hotel'
    target_radius = 5000
    target_type = 'lodging'
    
    #paramters
    params = {
        'location': target_cooridnates,
#         'keyword': target_search,
        'radius': target_radius,
        'type': target_type,
        'key': g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params = params).json()
#     print(response)
    
    #Data Retrieval
    
    print('Searching for Hotels near: ' + str(vacation_cities_n.iloc[i, 0]) + ' | Record ' + str(record_count) + ' of Total '
         + str(len(vacation_cities_n)))
    
#     names = (response['results'][0]['name'])
#     cities = (vacation_cities_n.iloc[i,0])
#     countries = (vacation_cities_n.iloc[i,7])
#     lats = (response['results'][0]['geometry']['location']['lat'])
#     longs = (response['results'][0]['geometry']['location']['lng'])
    
    try:
        name.append(response['results'][0]['name'])
        
#         hotel_df.loc[i,"Hotel Name"] = response['results'][0]['name']
#         city.append(vacation_cities_n.iloc[i,0])
#         country.append(vacation_cities_n.iloc[i,7])
#         lat.append(response['results'][0]['geometry']['location']['lat'])
#         long.append(response['results'][0]['geometry']['location']['lng'])
    
    except IndexError:
        print('There seems to be no Hotels near Location... Skipping...')
        name.append ('')
    
    record_count +=1   

#print end of log
print("""---------------------------------
Data Retrieval Complete
---------------------------------""")

Beginning Data Retrieval
---------------------------------
Searching for Hotels near: Twin Falls | Record 1 of Total 33
There seems to be no Hotels near Location... Skipping...
Searching for Hotels near: Peniche | Record 2 of Total 33
Searching for Hotels near: Empangeni | Record 3 of Total 33
Searching for Hotels near: Beloha | Record 4 of Total 33
There seems to be no Hotels near Location... Skipping...
Searching for Hotels near: Marshall | Record 5 of Total 33
Searching for Hotels near: Pisco | Record 6 of Total 33
Searching for Hotels near: Florence | Record 7 of Total 33
Searching for Hotels near: Castro | Record 8 of Total 33
Searching for Hotels near: Kaniama | Record 9 of Total 33
There seems to be no Hotels near Location... Skipping...
Searching for Hotels near: Portland | Record 10 of Total 33
Searching for Hotels near: Jalu | Record 11 of Total 33
Searching for Hotels near: Fayetteville | Record 12 of Total 33
Searching for Hotels near: Richards Bay | Record 13 of Total 33
Searching for Hotels near: Zambezi | Record 14 of Total 33
Searching for Hotels near: Whitefish | Record 15 of Total 33
Searching for Hotels near: Ihosy | Record 16 of Total 33
Searching for Hotels near: Imbituba | Record 17 of Total 33
Searching for Hotels near: Luau | Record 18 of Total 33
Searching for Hotels near: Karratha | Record 19 of Total 33
Searching for Hotels near: Saint-Pierre | Record 20 of Total 33
Searching for Hotels near: Toccoa | Record 21 of Total 33
Searching for Hotels near: Hermiston | Record 22 of Total 33
Searching for Hotels near: Lincoln | Record 23 of Total 33
Searching for Hotels near: West Wendover | Record 24 of Total 33
Searching for Hotels near: Pendleton | Record 25 of Total 33
Searching for Hotels near: Maragogi | Record 26 of Total 33
Searching for Hotels near: Manbij | Record 27 of Total 33
Searching for Hotels near: Opuwo | Record 28 of Total 33
Searching for Hotels near: Baghdad | Record 29 of Total 33
Searching for Hotels near: Muros | Record 30 of Total 33
Searching for Hotels near: Balkanabat | Record 31 of Total 33
Searching for Hotels near: Piaçabuçu | Record 32 of Total 33
Searching for Hotels near: Sirte | Record 33 of Total 33
---------------------------------
Data Retrieval Complete
---------------------------------

In [36]:
hotel_df["Hotel Name"] = name
hotel_df.head(25)
hotel_df.to_csv('Hotel CSV')

In [27]:
print(len(hotel_df))

63

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [38]:
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))